.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large).is-style-colorful-quote,
.entry .entry-content .wp-block-quote:not(.is-large):not(.is-style-large).is-style-colorful-quote,
.wp-block-quote.is-style-colorful-quote {
    border-left: 10px #9C8CFF solid;
    background-color: #87F5FB;
    padding: 1rem;
}

.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large).is-style-colorful-quote p,
.entry .entry-content .wp-block-quote.is-style-colorful-quote p,     
.wp-block-quote.is-style-colorful-quote p {
    font-size: 2rem;
    color: #0F1108;
    font-weight: bold;
    margin: 0 0 1rem;
}

.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large).is-style-colorful-quote .wp-block-quote__citation,
.wp-block-quote.is-style-colorful-quote .wp-block-quote__citation,
.wp-block-quote.is-style-colorful-quote cite {
    font-size: 1rem;
    color: #0F1108;
    font-family: serif;
    text-transform: uppercase;
    font-weight: bold;    
}