.wp-block-jsforwpadvblocks-shoutout-styles,
.wp-block-jsforwpadvblocks-shoutout-styles.is-style-default {
    border: 1px #ccc solid;
    padding: 1rem;
}

.wp-block-jsforwpadvblocks-shoutout-styles.is-style-serious {
    background: #efefef;
    border: 3px #222 solid;
    font-family: 'Courier New', Courier, monospace;
    h2 {
        font-family: 'Courier New', Courier, monospace;
    }
}

.wp-block-jsforwpadvblocks-shoutout-styles.is-style-colorful {
    background: #230C33;
    border: 10px #592E83 solid;
    font-family: fantasy;
    color: #9984D4;
    h2 {
        font-family: fantasy;
        color: #CAA8F5;
    }
}